<!DOCTYPE html>
<html>

<head>
    <title>Inserir Registo de saidas</title>
    <!-- Adicionando Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        .table-hover tbody tr:hover {
            cursor: pointer;
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Inserir Registo de saidas</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.veiculo_id }}
            <h2 class="my-4">Selecione um Veículo</h2>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Matrícula</th>
                        <th>Cor</th>
                        <th>Ano</th>
                    </tr>
                </thead>
                <tbody>
                    {% for veiculo in veiculos %}
                    <tr data-id="{{ veiculo.id }}">
                        <td>{{ veiculo.id }}</td>
                        <td>{{ veiculo.marca }}</td>
                        <td>{{ veiculo.modelo }}</td>
                        <td>{{ veiculo.matricula }}</td>
                        <td>{{ veiculo.cor }}</td>
                        <td>{{ veiculo.ano }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="form-group">
                <label for="data_saida">Data de saida</label>
                {{ form.data_saida }}
            </div>
            <div class="form-group">
                <label for="observacoes">Observações</label>
                {{ form.observacoes }}
            </div>
            <div class="form-group">
                <label for="condicoes_saida">condições de saida</label>
                {{ form.condicoes_saida }}
            </div>
            <button type="submit" class="btn btn-success">Salvar</button>
            <a href="{% url 'registo_saidas_view' %}" class="btn btn-secondary">Voltar para a lista de registros de saida</a>
        </form>


    </div>
    <!-- Adicionando scripts do Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const rows = document.querySelectorAll('table.table-hover tbody tr');
            rows.forEach(row => {
                row.addEventListener('click', function () {
                    const veiculoId = this.getAttribute('data-id');
                    document.querySelector('input[name="veiculo_id"]').value = veiculoId;
                    rows.forEach(r => r.classList.remove('table-active'));
                    this.classList.add('table-active');
                });
            });
        });
    </script>
</body>

</html>