<!DOCTYPE html>
<html>
<head>
    <title>{% if form.instance.id %}Editar Restauro{% else %}Adicionar Restauro{% endif %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>{% if form.instance.id %}Editar Restauro{% else %}Adicionar Restauro{% endif %}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="{% url 'restauros_view' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>