<!DOCTYPE html>
<html>
  <head>
    <title>Confirmar Exclusão</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Confirmar Exclusão</h1>
      <p>
        Tem certeza de que deseja excluir o restauro com ID {{ restauro.id }}?
      </p>
      <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a href="{% url 'restauros_view' %}" class="btn btn-secondary"
          >Cancelar</a
        >
      </form>
    </div>
    {% load static %}
    <script src="{% static 'js/session_check.js' %}"></script>
  </body>
</html>
